body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  padding: 0;
  background: #A2A2A2 ;
}


h1 {
  margin: 20px auto 0 auto;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 4.2em;
  font-style: normal;
  color: #3c415e;
}

h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
  color: #3c415e;
  padding-bottom: 50px;
}

h3 {
  font-family: 'Noto Sans TC', sans-serif;
  color: #3c415e;
  text-decoration: none;
}


a {
  color: #e6d5b8;
  font-family: 'Noto Sans TC', sans-serif;
}

p {
  line-height: 2;
}

.profile-image {
  width: 180px;
  height: auto;
  border-radius: 50%;

}

.Intro {
  color: #105e62;
}

.top-container {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e8e8e8;
}

.team {
  width: 296px;
  height: 400px;
  border-radius: 50%;
  /*background-color: #1687a7;
  background-color: #A2A2A2;
  background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
  -webkit-animation: snow 30s linear infinite;
  -moz-animation: snow 30s linear infinite;
  -ms-animation: snow 30s linear infinite;
  animation: snow 30s linear infinite;*/
}

.midlle-container{
  width: 1000px;
  position: relative;
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
  flex-wrap:wrap;

}

.midlle-container .card{
  position: relative;
}

.midlle-container .card .face{
  width:320px;
  height: 250px;
  transition:.4s;

}

.midlle-container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.midlle-container .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #fffaa4,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #fffaa4,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #fffaa4,
    10px 0 80px #0ff;

}


.midlle-container .card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;

}

.midlle-container .card:hover .face.face1 .content{
  opacity: 1;

}

.midlle-container .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;

}

.midlle-container .card .face.face1 .content h3{
  font-size: 1em;
  color: white;
  text-align: center;


}

.midlle-container .card .face.face1 .content a{
   transition: .5s;
}

.midlle-container .card .face.face2{
   position: relative;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
}

.midlle-container .card:hover .face.face2{
    transform: translateY(0);


}

.midlle-container .card .face.face2 .content p, a{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color:#333;
}

.midlle-container .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.midlle-container .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}


@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #A2A2A2;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #A2A2A2;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #A2A2A2;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #A2A2A2;
    }
}
body {
    background-color: #A2A2A2;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 30s linear infinite;
    -moz-animation: snow 30s linear infinite;
    -ms-animation: snow 30s linear infinite;
    animation: snow 30s linear infinite;
}

.bottom-container {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #082e73;
  color: #e6d5b8;
  opacity: 0.8;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

/*.skill-row {

  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  color: #c9d7d7;
}

/*.image-WD {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.image-PM {
  float: right;
  margin-left: 30px;
  width: 25%;
}*/

.rulings {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.footer-link {
  color: #e6d5b8;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6
}


.copyright {
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0 0;
}

.closing {
  margin: 50px auto 40px;
  width: 40%;
  color: #414141;
}

.btn {
  box-shadow: 0 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #515151 15%, #8a7f6e 100%);
  background-color: #0e49b5;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 50px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0 1px 0 #3d768a;
}

.btn:hover {
  background: linear-gradient(to bottom, #153e90 5%, #0e49b5 100%);
  background-color: #153e90;
}

.btn:active {
  position: relative;
  top: 1px;
}

.attribution {
  font-size: 0.75rem;
  color: #c9d7d7;
  }
.attribution-link {
  color: #e6d5b8;
}
  .attribution-link:hover {
    color: #EAF6F6
  }
}

/*
 @-webkit-keyframes snow {
  /*0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #1687a7;
    }
}
@-moz-keyframes snow {
  /*  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #1687a7;
    }
}
@-ms-keyframes snow {
  /*  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #1687a7;
    }
}
@keyframes snow {
  /*  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #A2A2A2 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #1687a7;
    }
}
body {
    background-color: #1687a7;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
*/
/*@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
body {
    background-color: #6b92b9;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
*/
